/* Midnight Circle Theatre CSS styles */

/*
	==============================================================
	   CSS root variables
	==============================================================
*/
:root {
    /* ============   General formatting   ============ */
    --mct-header-bkg-col: #000000; /* Header background colour */
    --mct-nav-bkg-col: #000000; /* Navigation background colour */
    --mct-nav-hover-bkg-col: #ddd; /* Navigation hover background colour */
    --mct-content-bkg-col: #242121; /* Content background colour */
    --mct-footer-bkg-col: #000000; /* Footer background colour */
    --mct-body-bkg-col: #000000; /* Body background colour */
    --mct-h1-txt-size: 18px; /* H1 text size */
    --mct-h2-txt-size: 16px; /* H2 text size */
    --mct-body-txt-size: 14px; /* Navigation text size */
    --mct-nav-txt-size: 16px; /* Navigation text size */
    --mct-foot-txt-size: 14px; /* Footer text size */
    --mct-body-txt-col: #e6dddd; /* Body text colour */
    --mct-head-txt-col: #e6dddd; /* Heading text colour */
    --mct-foot-txt-col: #968787; /* Footer text colour */
    --mct-link-txt-col: #e6dddd; /* Link text colour */
    --mct-link-hover-txt-col: #e41919; /* Link hover text colour */
    --mct-content-width: 60%; /* Content width in desktop mode */
}

/*
    Basic elements
*/

body {
    font-family: 'Andada Pro', serif;
    font-size: var(--mct-body-txt-size);
    background-color: var(--mct-body-bkg-col);
    color: var(--mct-body-txt-col);
}

a {
    text-decoration: none;
    color: var(--mct-link-txt-col);
}

    a:hover {
        color: var(--mct-link-hover-txt-col);
    }


h1 {
    font-family: 'Cinzel Decorative';
    text-align: center;
    font-size: var(--mct-h1-txt-size);
    padding-bottom: 20px;
}

h2 {
    font-family: 'Cinzel Decorative';
    text-align: center;
    font-size: var(--mct-h2-txt-size);
}

img {
    width: 100%;
}

.page-content {
    max-width: 1024px;
    margin: auto;
}

.review-bar {
    width:100%;
}

.link-bar {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.link-item {
    font-family: 'Cinzel Decorative';
    text-align: center;
    font-size: var(--mct-h2-txt-size);
}


/*
    Burger menu
*/
.topnav {
    font-family: 'Cinzel Decorative';
    overflow: hidden;
    background-color: var(--mct-nav-bkg-col);
    position: relative;
    width: var(--mct-content-width);
    margin: auto;
}

    .topnav #myLinks {
        display: none;
        position: fixed;
        background-color: var(--mct-nav-bkg-col);
        width: var(--mct-content-width);
        margin: auto;
        z-index: 500 !important;
    }

    .topnav a {
        color: var(--mct-link-txt-col);
        padding: 14px 16px;
        text-decoration: none;
        font-size: var(--mct-nav-txt-size);
        display: block;
    }

        .topnav a.icon {
            background: var(--mct-nav-bkg-col);
            display: block;
            position: absolute;
            right: 0;
            top: 0;
        }

        .topnav a:hover {
            background-color: var(--mct-nav-hover-bkg-col);
            color: black;
        }

.home-link {
    font-weight: bold;
}

.my-container {
    width:80%;
    margin:auto;
}

.img-link {
    cursor:default;
}

    .img-link:hover {
        cursor:pointer;
    }

.centered-text {
    padding:20px;
    text-align:center;
}

/* Footer */
footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--mct-footer-bkg-col);
    padding: 10px;
    text-align: center;
    color: var(--mct-foot-txt-col);
    font-size: var(--mct-foot-txt-size) !important;
}

.my-footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--mct-footer-bkg-col);
    padding: 10px;
    text-align: center;
    color: var(--mct-foot-txt-col);
    font-size: var(--mct-foot-txt-size) !important;
}

.body-div {
    width: 60%;
    margin: auto;
    overflow-wrap: normal;
}

.home-div {
    padding-top:20px;
    width:60%;
    margin:auto;
}

.span-img {
    width: 100%;
}

.links-box {
    text-align:center;
}

.bio {
    width: 50%;
    margin: auto;
    padding: 10px;
    box-sizing: border-box;
}

/* Responsive layout  */
@media (max-width: 800px) {

    .page-content {
        width: 100%;
    }

    .body-div {
        width:100%;
    }

    .home-div {
        width: 80%;
    }

    .bio {
        width:100%;
        padding:20px;
    }

    .topnav {
        width: 100%;
    }

        .topnav #myLinks {
            width: 100%;
        }
}