/*
    CSS definitions for new website

    @author: M.P. Vaughan
*/

/*
    Root variables
*/
:root {
    --desk-header-height: 120px;
    --desk-logo-width: 240px;
    --desk-logo-offset: 40px;
    --mob-header-height: 100px;
    --mob-logo-width: 200px;
    --mob-logo-offset: 10px;
    --dark-bkg-col: #01081d; /* Dark blue */
    --dark-highlight-col: #09163e; /* Dark blue */
    --light-bkg-col: #ece1cd; /* Cream */
    --light-txt-col: #d0d0d0;
    --dark-txt-col: #2a2829;
    --menu-hover-col: #ffffff;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: var(--light-bkg-col);
}

header {
    position: fixed;
    top: 0;
    height: var(--desk-header-height);
    width: 100%;
    background-color: var(--dark-bkg-col);
    color: var(--light-txt-col);
}

main {
    margin-top: var(--desk-header-height);
    min-height: 300px;
    background-color: var(--dark-bkg-col);
    color: var(--light-txt-col);
}

footer {
    margin-top: 0px;
    min-height: 130px;
    background-color: var(--light-bkg-col);
    color: var(--dark-txt-col);
}

h1, h2, h3, h4 {
    font-family: 'Cinzel Decorative';
}

h1, h2 {
    text-align: center;
}

h1 {
    font-size: 3vw;
    color: #FFF;
}

.logo-container {
    overflow: hidden;
    margin-left: var(--desk-logo-offset);
    height: var(--desk-header-height);
    width: var(--desk-logo-width);
}

.logo-img {
    width: var(--desk-logo-width);
    padding: 0px;
}

/*
    DESKTOP NAVIGATION
*/

.desk-menu {
    float: right;
    margin-top: -100px;
    margin-right: 40px;
    font-family: Cardo;
    font-size: 20px;
}

.desk-menu-item {
    float: left;
    width: 120px;
    padding-left: 5px;
    padding-top: 30px;
}
    .desk-menu-item:hover {
        background-color: var(--dark-bkg-col);
        color: var(--menu-hover-col);
    }
        .desk-menu-item:hover .desk-submenu {
            display: block;
        }
    .desk-menu-item > a {
        text-decoration: none;
        color: var(--light-txt-col);
    }

.desk-submenu {
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu-icon {
    float: left;
    padding: 30px;
    padding-left: 0px;
}
    .menu-icon > a {
        text-decoration: none;
        color: var(--light-txt-col);
    }

        .menu-icon > a:hover {
            color: var(--menu-hover-col);
        }

.desk-submenu-item {
    padding: 5px;
    width: 240px;
    background-color: var(--dark-bkg-col);
}
    .desk-submenu-item > a {
        text-decoration: none;
        color: var(--light-txt-col);
    }
    .desk-submenu-item:hover a {
        color: var(--menu-hover-col);
    }

/*
    MOBILE NAVIGATION
*/
.mob-menu {
    display: none;
    margin-top: -100px;
    float: right;
}

.burger-box {
    position: relative;
    margin: 20px;
    width: 60px;
    height: 60px;
    border-radius: 4px;
    background-color: var(--dark-highlight-col);
}
    .burger-box:hover {
        cursor:pointer;
    }

.burger-bar {
    box-sizing: border-box;
    position: absolute;
    left: 10px;
    width: 40px;
    height: 3px;
    border-radius: 1.5px;
    background-color: white;
}

.bar1 {
    top: 14px;
}

.bar2 {
    top: 28px;
}

.bar3 {
    top: 42px;
}

.mob-nav {
    margin-top: var(--mob-header-height);
    margin-bottom: 0px;
    display: none;
    background-color: var(--light-bkg-col);
}



.full-width {
    width: 100%;
}

    .full-width > img {
        width: 100%;
    }

@media screen and (max-width: 960px) {

    header {
        height: var(--mob-header-height);
    }

    main {
        margin-top: var(--mob-header-height);
    }

    .desk-menu {
        display: none;
    }

    .mob-menu {
        display: block;
    }

    .logo-container {
        margin-left: var(--mob-logo-offset);
        height: var(--mob-header-height);
        width: var(--mob-logo-width);
    }

    .logo-img {
        width: var(--mob-logo-width);
    }
}