/* Midnight Circle Theatre CSS styles */

/*
	==============================================================
	   CSS root variables
	==============================================================
*/
:root {
    /* ============   General formatting   ============ */
    --mct-header-bkg-col: #01081d; /* Header background colour */
    --mct-nav-bkg-col: #01081d; /* Navigation background colour */
    --mct-nav-hover-bkg-col: #ddd; /* Navigation hover background colour */
    --mct-content-bkg-col: #01081d; /* Content background colour */
    --mct-footer-bkg-col: #01081d; /* Footer background colour */
    --mct-body-bkg-col: #01081d; /* Body background colour */
    --mct-h1-txt-size: 20px; /* H1 text size */
    --mct-h2-txt-size: 18px; /* H2 text size */
    --mct-h3-txt-size: 16px; /* H2 text size */
    --mct-body-txt-size: 16px; /* Body text size */
    --mct-nav-txt-size: 16px; /* Navigation text size */
    --mct-foot-txt-size: 14px; /* Footer text size */
    --mct-body-txt-col: #eee2df; /* Body text colour */
    --mct-head-txt-col: #eee2df; /* Heading text colour */
    --mct-foot-txt-col: #eee2df; /* Footer text colour */
    --mct-link-txt-col: #eee2df; /* Link text colour */
    --mct-link-hover-txt-col: #ff0000; /* Link hover text colour */
    --mct-content-width: 60%; /* Content width in desktop mode */
}

@keyframes left-slider {
    from {
        margin-left: 100%;
        opacity:0;
    }

    to {
        margin-left: 0px;
        opacity: 1;
    }
}

@keyframes fader {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.slide-left {
    animation-name: left-slider;
    animation-duration: 1s;
}

.slide-left-delay {
    opacity: 0;
    margin-left: 100%;
    animation-name: left-slider;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

.fade-in {
    opacity: 0;
    animation-name: fader;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

/*
    Basic elements
*/

body {
    font-family: 'Andada Pro', serif;
    font-size: var(--mct-body-txt-size);
    background-color: var(--mct-body-bkg-col);
    color: var(--mct-body-txt-col);
}

a {
    text-decoration: none;
    color: var(--mct-link-txt-col);
}

    a:hover {
        color: var(--mct-link-hover-txt-col);
    }


h1 {
    font-family: 'Cinzel Decorative';
    text-align: center;
    font-size: var(--mct-h1-txt-size);
    padding-bottom: 20px;
}

h2 {
    font-family: 'Cinzel Decorative';
    text-align: center;
    font-size: var(--mct-h2-txt-size);
}

h3 {
    font-family: 'Cinzel Decorative';
    font-size: var(--mct-h3-txt-size);
}

img {
    width: 100%;
}

ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin-left: 0;
    margin-right: 0;
}

.page-content {
    max-width: 1024px;
    margin: auto;
}

.review-bar {
    padding-left:5px;
    width:100%;
}

.link-bar {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.link-item {
    font-family: 'Cinzel Decorative';
    text-align: center;
    font-size: var(--mct-h1-txt-size);
    margin:10px;
}



/*
    Burger menu
*/
.topnav {
    font-family: 'Cinzel Decorative';
    overflow: hidden;
    background-color: var(--mct-nav-bkg-col);
    position: relative;
    width: var(--mct-content-width);
    margin: auto;
}

    .topnav #myLinks {
        display: none;
        position: fixed;
        background-color: var(--mct-nav-bkg-col);
        width: var(--mct-content-width);
        margin: auto;
        z-index: 500 !important;
    }

    .topnav a {
        color: var(--mct-link-txt-col);
        padding: 14px 16px;
        text-decoration: none;
        font-size: var(--mct-nav-txt-size);
        display: block;
    }

        .topnav a.icon {
            background: var(--mct-nav-bkg-col);
            display: block;
            position: absolute;
            right: 0;
            top: 0;
        }

        .topnav a:hover {
            background-color: var(--mct-nav-hover-bkg-col);
            color: black;
        }

.home-link {
    font-weight: bold;
}

.my-container {
    width:80%;
    margin:auto;
}

.img-link {
    cursor:default;
}

    .img-link:hover {
        cursor:pointer;
    }

.centered-text {
    padding:20px;
    text-align:center;
}

.italic-list {
    font-style:italic;
    margin-left: 20px;
    padding:5px;
}

.booking-link {
    font-family: 'Cinzel Decorative';
    font-weight: bold;
    color: #ff5e00;
    font-size: var(--mct-h2-txt-size);
}

/* Footer */
footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--mct-footer-bkg-col);
    padding: 10px;
    text-align: center;
    color: var(--mct-foot-txt-col);
    font-size: var(--mct-foot-txt-size) !important;
}

.my-footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--mct-footer-bkg-col);
    padding: 10px;
    text-align: center;
    color: var(--mct-foot-txt-col);
    font-size: var(--mct-foot-txt-size) !important;
}

.body-div {
    width: 60%;
    margin: auto;
    overflow-wrap: normal;
}

.home-div {
    padding-top:20px;
    width:60%;
    margin:auto;
}

.span-img {
    width: 100%;
}

.links-box {
    text-align:center;
}

.bio {
    width: 50%;
    margin: auto;
    padding: 10px;
    box-sizing: border-box;
}

.footer-img {
    max-width: 100px;
    margin: 5px;
}

/* Responsive layout  */
@media (max-width: 800px) {

    .page-content {
        width: 100%;
    }

    .body-div {
        width:100%;
    }

    .home-div {
        width: 80%;
    }

    .bio {
        width:100%;
        padding:20px;
    }

    .link-item {
        font-size: var(--mct-h2-txt-size);
    }

    .topnav {
        width: 100%;
    }

        .topnav #myLinks {
            width: 100%;
        }

    .footer-img {
        max-width: 50px;
    }
}



/* Nabbed from RSC site (and modified) */
.footer-list {
    /*max-width: 1440px;*/
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid #e3e6e1;
    border-bottom: 1px solid #e3e6e1;
    margin-bottom: 2rem
}

    .footer-list:after {
        content: " ";
        display: block;
        clear: both
    }

    .footer-list:last-child {
        border: none;
        margin-bottom: 0
    }

.footer-title {
    margin-bottom: .2rem;
    display: block;
    font-size: 1.2rem
}

@media (min-width:1024px) {
    .footer-title {
        font-size: 1.5rem
    }
}

li.footer-section, li.footer-section-large {
    line-height: 150%
}

li.footer-section {
    width: 80.5556%;
    float: left;
    margin-bottom: 2rem;
    margin-left: 6.9444%
}

@media (min-width:480px) {
    li.footer-section {
        width: 30.5556%;
        float: left;
        margin-left: 1.3889%;
        margin-right: 1.3889%
    }

        li.footer-section:nth-child(4) {
            clear: both
        }

        li.footer-section:last-child {
            float: right
        }
}

#footerLogos li:nth-child(2) {
    margin-bottom: 22px
}

@media (min-width:790px) {
    li.footer-section {
        width: 13.8889%;
        float: left;
        margin-left: 1.3889%;
        margin-right: 1.3889%
    }

        li.footer-section:nth-child(4) {
            clear: none
        }

    #footerLogos {
        display: flex;
        justify-content: space-around
    }

        #footerLogos li:nth-child(2) {
            all: unset
        }
}

.culture-recovery-fund {
    width: 17%
}

@media (max-width:790px) {
    .culture-recovery-fund {
        width: 100%
    }
}

.footer-link {
    display: inline-block;
    margin-right: .5rem
}

    .footer-link:after {
        content: " |";
        margin-left: .5rem;
        color: #b4baae
    }

    .footer-link:last-child:after {
        content: "";
        margin-left: 0
    }

    .footer-link.social {
        margin-top: .5rem
    }

        .footer-link.social circle, .footer-link.social path {
            fill: #e3e6e1
        }

        .footer-link.social .fa-logo {
            background-color: #e3e6e1;
            color: #464841;
            height: 16px;
            width: 16px;
            font-size: 14px;
            float: left;
            margin-top: 2px;
            margin-right: 5px;
            padding-top: 1px
        }

            .footer-link.social .fa-logo .fa {
                vertical-align: super;
                display: block;
                text-align: center
            }

            .footer-link.social .fa-logo .fa-facebook {
                margin-top: 1px
            }

        .footer-link.social a:hover circle, .footer-link.social a:hover path {
            fill: var(--mct-link-hover-txt-col)
        }

        .footer-link.social a:hover .fa-logo {
            background-color: var(--mct-link-hover-txt-col)
        }

    .footer-link svg {
        height: 1rem;
        width: 1rem
    }

        .footer-link svg path {
            transition: all .4s ease-out
        }

@media (min-width:480px) {
    .footer-link {
        display: block;
        margin-right: 0
    }

        .footer-link:after {
            content: "";
            margin-left: 0
        }
}

#footerLogos, li.footer-section-large, li.footer-section-medium {
    text-align: center
}
