/**
footer-list
footer-section
footer-title
footer-link social
fa-logo
fa fa-facebook
fa fa-instagram
fa fa-youtube
fa fa-linkedin


ids
Light_grey
telSwitchboard
footerLogos
*/

.footer-list {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #e3e6e1;
    margin-bottom: 2rem
}

    .footer-list:after {
        content: " ";
        display: block;
        clear: both
    }

    .footer-list:last-child {
        border: none;
        margin-bottom: 0
    }

.footer-title {
    margin-bottom: .2rem;
    display: block;
    font-size: 1.2rem
}

@media (min-width:1024px) {
    .footer-title {
        font-size: 1.5rem
    }
}

li.footer-section, li.footer-section-large {
    line-height: 150%
}

li.footer-section {
    width: 80.5556%;
    float: left;
    margin-bottom: 2rem;
    margin-left: 6.9444%
}

@media (min-width:480px) {
    li.footer-section {
        width: 30.5556%;
        float: left;
        margin-left: 1.3889%;
        margin-right: 1.3889%
    }

        li.footer-section:nth-child(4) {
            clear: both
        }

        li.footer-section:last-child {
            float: right
        }
}

#footerLogos li:nth-child(2) {
    margin-bottom: 22px
}

@media (min-width:790px) {
    li.footer-section {
        width: 13.8889%;
        float: left;
        margin-left: 1.3889%;
        margin-right: 1.3889%
    }

        li.footer-section:nth-child(4) {
            clear: none
        }

    #footerLogos {
        display: flex;
        justify-content: space-around
    }

        #footerLogos li:nth-child(2) {
            all: unset
        }
}

.culture-recovery-fund {
    width: 17%
}

@media (max-width:790px) {
    .culture-recovery-fund {
        width: 100%
    }
}

.footer-link {
    display: inline-block;
    margin-right: .5rem
}

    .footer-link:after {
        content: " |";
        margin-left: .5rem;
        color: #b4baae
    }

    .footer-link:last-child:after {
        content: "";
        margin-left: 0
    }

    .footer-link.social {
        margin-top: .5rem
    }

        .footer-link.social circle, .footer-link.social path {
            fill: #e3e6e1
        }

        .footer-link.social .fa-logo {
            background-color: #e3e6e1;
            color: #464841;
            height: 16px;
            width: 16px;
            font-size: 14px;
            float: left;
            margin-top: 2px;
            margin-right: 5px;
            padding-top: 1px
        }

            .footer-link.social .fa-logo .fa {
                vertical-align: super;
                display: block;
                text-align: center
            }

            .footer-link.social .fa-logo .fa-facebook {
                margin-top: 1px
            }

        .footer-link.social a:hover circle, .footer-link.social a:hover path {
            fill: #f5d606
        }

        .footer-link.social a:hover .fa-logo {
            background-color: #f5d606
        }

    .footer-link svg {
        height: 1rem;
        width: 1rem
    }

        .footer-link svg path {
            transition: all .4s ease-out
        }

@media (min-width:480px) {
    .footer-link {
        display: block;
        margin-right: 0
    }

        .footer-link:after {
            content: "";
            margin-left: 0
        }
}

#footerLogos, li.footer-section-large, li.footer-section-medium {
    text-align: center
}
